absl-py
altair
anyio
astunparse
attrs
blinker
cachetools
certifi
charset-normalizer
click
colorama
flatbuffers
gast
gitdb
GitPython
google-pasta
grpcio
h11
h5py
httptools
idna
itsdangerous
Jinja2
joblib
jsonschema
jsonschema-specifications
keras
libclang
markdown-it-py
MarkupSafe
mdurl
ml_dtypes
namex
narwhals
numpy
opt_einsum
optree
packaging
pandas
pillow
protobuf
pyarrow
pydeck
Pygments
python-dateutil
python-multipart
referencing
requests
rich
rpds-py
scikit-learn
scipy
setuptools
six
smmap
starlette
streamlit
tenacity
tensorflow
termcolor
threadpoolctl
toml
typing_extensions
tzdata
urllib3
uvicorn
watchdog
websockets
wheel
wrapt
